<ion-view view-title="Connect to Server">
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <div ng-show="loginFailed" class="bar bar-subfooter bar-assertive">
      <h1 class="title">Login Failed</h1>
    </div>
    <form ng-submit="doLogin()">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Server</span>
          <input type="text" ng-model="loginData.server">
        </label>
          <button class="button button-block button-positive" type="submit">
            Connect
          </button>
      </div>
    </form>
  </ion-content>
</ion-view>
