<ion-view view-title="Project Details">
  <ion-nav-buttons></ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        {{project.name}}
      </div>
      <div class="item item-text-wrap">
        {{project.description}}
        <br/>
        <br/>
        <div>
          <div class="button button-block button-stable" ng-click="goToBacklog()">
            Backlog
          </div>
          <div class="col button button-block button-stable">
            Current Sprint
          </div>
          <div class="col button button-block button-stable">
            Builds
          </div>
          <div class="col button button-block button-stable">
            Version Control
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
