<ion-view view-title="Work Item Details">
  <ion-nav-buttons side="right">
    <button class="button button-light nav-button-right" ng-click="updateWorkItem()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        {{workItem.fields["System.Title"]}}
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="work-item-field col">
            <b>Type</b><br/>
            {{workItem.fields["System.WorkItemType"]}}
          </div>
        </div>
        <div class="row">
          <div class="work-item-field col">
            <b>State</b><br/>
            {{workItem.fields["System.State"]}}
          </div>
        </div>
        <div class="row">
          <div class="work-item-field col">
            <b>Created By</b><br/>
            {{workItem.fields["System.CreatedBy"]}}
          </div>
        </div>
        <div class="row">
          <div class="work-item-field col" ng-if="workItem.fields['Microsoft.VSTS.Common.Priority']">
            <b>Priority</b><br/>
            {{workItem.fields["Microsoft.VSTS.Common.Priority"]}}
          </div>
          <div class="work-item-field col" ng-if="workItem.fields['Microsoft.VSTS.Scheduling.Effort']">
            <b>Effort</b><br/>
            {{workItem.fields["Microsoft.VSTS.Scheduling.Effort"]}}
          </div>
        </div>
        <div class="work-item-field">
          <b>Description</b><br/>
          <label class="item item-input">
            <textarea ng-model="workItem.fields['System.Description']"rows="10">{{workItem.fields["System.Description"]}}</textarea>
          </label>
        </div>
        <div class="work-item-field">
          <b>Acceptance Criteria</b><br/>
          <label class="item item-input">
            <textarea ng-model="workItem.fields['Microsoft.VSTS.Common.AcceptanceCriteria']" rows="10">{{workItem.fields["Microsoft.VSTS.Common.AcceptanceCriteria"]}}</textarea>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
