/* Empty. Add your own CSS if you like */
.work-item-field {
  padding-top: 6px;
  padding-bottom: 6px;
}

.nav-button-right {
  margin-right: 5px;
  width: 75px;
}

.form-text-area {
  height: 150px;
}
